<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ClassMapper">

    <select id="list" resultType="com.example.pojo.User">
        select id, name, grade_class AS gradeClass, phone, award_count, role, created_at AS createdAt, updated_at AS updatedAt
        from user
        where grade_class = #{className} AND role = '1'
    </select>

    <!-- 插入新成员 -->
    <insert id="insertMember">
        INSERT INTO user (name, grade_class, phone, role, created_at, updated_at)
        VALUES (#{name}, #{gradeClass}, #{phone}, #{role}, NOW(), NOW())
    </insert>

    <!-- 更新成员信息 -->
    <update id="updateMember">
        UPDATE user
        SET name = #{name}, grade_class = #{gradeClass}, role = #{role}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- 删除成员 -->
    <delete id="deleteMember">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <select id="listWithSearch" resultType="com.example.pojo.User">
        SELECT *
        FROM user
        WHERE grade_class = #{className}
        AND role = 1  <!-- 只查询普通用户 -->
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="id != null">
            AND id = #{id}  <!-- 精确匹配 id -->
        </if>
        <if test="sortByAwards != null">
            <choose>
                <when test="sortByAwards == 0">
                    ORDER BY award_count ASC
                </when>
                <when test="sortByAwards == 1">
                    ORDER BY award_count DESC
                </when>
                <otherwise>
                    ORDER BY id ASC
                </otherwise>
            </choose>
        </if>
    </select>


</mapper>
